server:
  port: ${GATEWAY_PORT:1024}
management:
  server:
    port: 8081
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-profile
              uri: lb://user-profile
              predicates:
                - Path=/api/{version}/users/**
              filters:
                - AddRequestHeader=X-Internal-Gateway, true
                - RewritePath=/api/(?<version>v\d+)/users(?<segment>.*), /api/$\{version}$\{segment}
            - id: vacancy-service
              uri: lb://vacancy-service
              predicates:
                - Path=/api/v1/vacancy/**
              filters:
                - AddRequestHeader=X-Internal-Gateway, true
            - id: ai-service
              uri: lb://ai-service
              predicates:
                - Path=/api/v1/ai/**
              filters:
                - AddRequestHeader=X-Internal-Gateway, true
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
    registry-fetch-interval-seconds: 30
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90
logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.springframework.security: INFO
    reactor.netty.http.client: INFO